.ddsmoothmenu{
font: bold 10px  "Lucida Sans";
background: #; /*background of menu bar (default state)*/
width: 100%; color:#000;
float:right;
text-align:left;
}

.ddsmoothmenu ul{
z-index:100;
margin: 0;
padding: 0;
list-style-type: none;
float:right;
text-transform:uppercase;

}

/*Top level list items*/
.ddsmoothmenu ul li{
position: relative;
display: inline;
float: left;
z-index:99999999 !important;
}

/*Top level menu link items style*/
.ddsmoothmenu ul li a{
	display: block;
	color:#000;
	padding: 0px 6px 0 6px;
	border-right: 0px solid #778;
	color: #2d2b2b;
	text-decoration: none;
	background-image:url(../images/line_strip.jpg);
	vertical-align:top;
	background-repeat: no-repeat;
	background-position: right center;
}

* html .ddsmoothmenu ul li a{ /*IE6 hack to get sub menu links to behave correctly*/
display: inline-block;

}

.ddsmoothmenu ul li a:link, .ddsmoothmenu ul li a:visited{
color:#000;
}

.ddsmoothmenu ul li a.selected { /*CSS class that's dynamically added to the currently active menu items' LI A element*/
background:  !important; 
color: #d661aa;

}

.ddsmoothmenu ul li a:hover{
background:!important; /*background of menu items during onmouseover (hover state)*/
color: #d661aa;

}
	
/* sub menus */
.ddsmoothmenu ul li ul{
position: absolute;
left: -3000px;
display: none; /*collapse all sub menus to begin with*/
visibility: hidden;
background: #e7e7e7;
text-transform: none;
font-size:11px;
margin:5px 0 0 3px;
word-spacing:1px;
border: 1px solid #f2f2f2;

}

/*Sub level menu list items (alters style from Top level List Items)*/
.ddsmoothmenu ul li ul li{
display: list-item;
float: none;


}

/*All subsequent sub menu levels vertical offset after 1st level sub menu */
.ddsmoothmenu ul li ul li ul{
top: 0;

}

/* Sub level menu links style */
.ddsmoothmenu ul li ul li a{
font: normal 11px  "Lucida Sans";
width: 190px; /*width of sub menus*/
padding: 6px;
margin: 0;
border-top-width: 0;
border-bottom: 1px solid #f2f2f2;
border-right: 0px solid #778;
background-image:none;
word-spacing:1px;
}

/* Holly Hack for IE \*/
* html .ddsmoothmenu{height: 1%;} /*Holly Hack for IE7 and below*/


/* ######### CSS classes applied to down and right arrow images  ######### */

.downarrowclass{
position: absolute;
top: 12px;
right: 7px;
}

.rightarrowclass{
position: absolute;
top: 6px;
right: 5px;
}

/* ######### CSS for shadow added to sub menus  ######### */

.ddshadow{ 
position: absolute;
left: 0;
top: 0;
width: 0;
height: 0;
background-color: #; /* generally should be just a little lighter than the box-shadow color for CSS3 capable browsers */
}

